{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="flex ">
    <header>
        <div>
            <a href="">Toutes les taches</a>
            <div>
                <h2>Dossiers</h2>
                <div>
                </div>
            </div>
        </div>
    </header>


    <div class="flex justify-between">
        <div class="flex flex-col ">
            <p>Gestion de Taches</p>
            <p>Organisez votre journée efficacement</p>
        </div>
        <div class="flex">
            <a href="">
                <div class="flex items-center gap-4">
                    <i class="fa-solid fa-gear"></i>
                    <p>Gerer les priorités</p>
                </div>
            </a>
            <a href="">
                <div class="flex items-center gap-4">
                    <i class="fa-regular fa-folder"></i>
                    <p>Nouveau dossier</p>
                </div>
            </a>
            <a href="">
                <div class="flex items-center gap-4">
                    <i class="fa-solid fa-plus"></i>
                    <p>Nouvelle tache</p>
                </div>
            </a>
            <a href="">
                <div class="flex items-center gap-4">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <p>Déconnexion</p>
                </div>
            </a>

        </div>
    </div>
    <div>

    </div>
    <div>

    </div>
</div>

{% endblock %}