{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="flex h-full w-full">
    <header class="bg-[#f9fafb] border border-[rgb(164,164,166,0.5)] flex md:w-80 p-6 flex-col gap-4 h-screen">
        <a class="bg-black text-white font-medium rounded-xl py-2 px-3" href="">
            <div class="flex items-center gap-2">
                <i class="fa-regular fa-house"></i>
                <p>Toutes les taches</p>
            </div>
        </a>
        <h2 class="font-semibold uppercase text-[#7f7f80]">Dossiers</h2>
        <div>

        </div>
    </header>

    <div class="w-full flex flex-col ">
        <div class="flex items-center  justify-between p-6">
            <div class="flex flex-col gap-2">
                <h1 class="font-semibold text-2xl">Gestion de Taches</h1>
                <p class="text-[#7f7f80]">Organisez votre journée efficacement</p>
            </div>
            <div class="flex items-center gap-4">
                <a href="">
                    <div class="flex items-center gap-4">
                        <i class="fa-solid fa-gear"></i>
                        <p>Gerer les priorités</p>
                    </div>
                </a>
                <a href="">
                    <div class="flex white-button items-center gap-4">
                        <i class="fa-regular fa-folder"></i>
                        <p>Nouveau dossier</p>
                    </div>
                </a>
                <a href="{{ path('app_task_new')}}">
                    <div class="flex black-button items-center gap-4">
                        <i class="fa-solid fa-plus"></i>
                        <p>Nouvelle tache</p>
                    </div>
                </a>
                <a href="{{ logout_path() }}">
                    <div class="flex white-button items-center gap-4">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <p>Déconnexion</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="bg-[#f9fafb] border border-[rgb(164,164,166,0.5)]">
            <div class="flex gap-8 m-8 ">
                <div class="flex items-center gap-2">
                    <i class="fa-solid fa-filter"></i>
                    <p>Filtres :</p>
                </div>
                <div class="flex items-center gap-2">
                    <p>Statut</p>
                    <select class="select" name="status" id="status">
                        <option value="">Tous</option>
                    </select>
                </div>
                <div class="flex items-center gap-2">
                    <p>Priorité</p>
                    <select class="select" name="priority" id="">
                        <option value="" >Toutes</option>
                    </select>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>

{% endblock %}