{% extends 'base.html.twig' %}

{% block title %}Task index
{% endblock %}

{% block body %}

			{% for task in tasks %}
				<tr>
					<td>{{ task.id }}</td>
					<td>{{ task.title }}</td>
					<td>{{ task.status.value }}</td>
					<td>{{ task.isPinned ? 'Yes' : 'No' }}</td>

				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}

{% endblock %}
